.btn-medium {
  color: grey;
  text-decoration: none !important;
  font-weight: lighter;
  background-color: white !important;
  border: 1px solid grey;
  padding: 15px 30px;
  border-radius: 50px;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  left: 47%;
}


.btn-medium:hover {
  color: black;
  border: 0.5px solid black;
  cursor: pointer;
}
